{% extends "base.html" %}
{% load humanize %}
{% block content %}

<h2 class="wishlist-title mt-4 mb-3 text-center">Your Wishlist ❤️</h2>

{% if items %}
    <div class="home-category-grid">
        {% for item in items %}
            <div class="card product-card shadow-sm p-2 h-100 rounded-3">
                <!-- Product Image -->
                <a href="{% url 'products:detail' item.product.slug %}">
                    {% if item.product.main_image %}
                        <img src="{{ item.product.main_image.url }}" class="product-img rounded-2">
                    {% endif %}
                </a>

                <!-- Product Info -->
                <div class="card-body text-center">
                    <h6 class="product-name">{{ item.product.name }}</h6>
                    <p class="product-price">₦{{ item.product.price|floatformat:0|intcomma }}</p>

                    <!-- Buttons -->
                    <div class="product-card-buttons">
                        <a href="{% url 'products:detail' item.product.slug %}" class="btn-view">View</a>
                        <a href="{% url 'wishlist:remove' item.id %}" class="btn-add-cart">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <p class="text-center mt-5 mb-5 text-muted">Your wishlist is empty 😔</p>
{% endif %}

{% endblock %}
